
#heder{
    color: white;
    background-color: black;
}
#menu-foot{
    color: white;
    background-color: rgba(37, 37, 37, 0.582);
    height: 150px;
    place-content: bottom;
}
#heder h1{
    margin: 0px;
    font-size: 50px;
    font-family: Arial;
}
body{
    margin: 0px 0px;
    font-family: sans-serif;
}
#heder ul{
    list-style: none;
    overflow: hidden;
}
#heder li{
    float: left;
    margin: 0 10px 0 0;
    color: white;
    
}
#heder ul a{
    color: white;
    text-decoration: none;
}
#heder ul a:hover{
    color: #cccccc;
}
#body a:hover{
    color: #696972;
    text-decoration: none;
}
#cccc{
align-content: center;
}