:root {
    --color-green: #ffffff;
    --color-red: #5184e4ce;
    --color-button: #1ac0c0;
    --color-black: #000000;
}
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-red);
    width: 50px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--color-button);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-black);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-green);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(20px);
}

#heder{
    color: white;
    background-color: black;
}
#menu-foot{
    color: white;
    background-color: rgba(37, 37, 37, 0.582);
    height: 150px;
    
}
#heder h1{
    margin: 0px;
    font-size: 50px;
    font-family: Arial;
}
body{
    margin: 0px 0px;
    font-family: sans-serif;
}
#heder ul{
    list-style: none;
    overflow: hidden;
    margin: 10px;
    padding: 0px 0px 0px 40px;
}
#heder li{
    float: left;
    margin: 0px 10px 0px 0px;
    color: white;
    
}
#heder ul a{
    color: white;
    text-decoration: none;

}
#heder ul a:hover{
    color: #cccccc;
}
#body a:hover{
    color: #696972;
    text-decoration: none;
}
#cccc{
align-content: center;
}
#holo{
    margin: 0px;
    font-size: 39px;
    size: 732px 44px;
    font-family: sans-serif;
}
#holo ::after{
    margin: 0px;
    font-size: 39px;
    size: 732px 44px;
    font-family: sans-serif;
}
#desp{
    display: none;
}
nav {
  
    width:20%;
    max-height:0px;
    overflow:hidden;
    transition: 0.5s all; 
    background-color: #696969;
   
}
.mostrar {
    max-height:500px;
  }
#rayas-menu{
    fill: #6c6b6b;
}
#activar_modooscuro{
    size: 5%;
    float: left;
    margin: 0px;
}
#cruz-menu{
    float: right;
    margin-left: 30px;
}